*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: rgb(38, 3, 42);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 10vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: blueviolet;
    
}
.users{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke
}
.container{
    width: 40%;
    margin: auto;
}
table,td{
    border: 1px solid #fff;
}